#bannerAnnouncement {
    background-color: yellow;
    text-align: center;
    font-weight: bold;
    position: fixed;
    z-index: 2000;
    width: 100vw;
}

#rootDiv {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
    width: 100%;
}

#root {
    box-sizing: border-box;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    padding: 0;
}

#mainScreen {
    display: flex;
    flex-direction: row;
}

input {
    outline: none;
    font-size: .7em;
    padding: 5px 5px;
}

#mainNav {
    background-color: #B90606;
    width: 100vw;
    color: black;
    height: 8vh;
    display: flex;
    font-size: 1em;
    min-height: 60px;
    box-sizing: border-box;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.optionsList {
    width: 80%;
    margin-top: 2em;
    background-color: white;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    align-items: center;
    align-self: center;
    justify-self: center;
    min-height: 250px;
    max-height: 300px;
    box-sizing: border-box;
    padding-bottom: 15px;
}

#menuSettings {
    display: flex;
    flex-direction: row-reverse;
}

#menuSettings > button {
    padding: 7px;
    font-size: 1em;
    width: 100px;
    background-color: #da1b1b;
    color: white;
}

#jobMenuScreen {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

#jobMenuHeader {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 150px;
    background-color: #a8193d ;
    color: white;
    padding: 0px 30px;
    align-items: center;
    position: fixed;
    box-sizing: border-box;
    z-index: 20;
}

#jobMenuHeader > button {
    height: 40px;
}

#jobMenuBody {
    align-self: center;
    display: flex;
    flex-direction: column;
    margin-top: 180px;
    width: 100%;
}

.jobMenuSection {
    align-self: center;
    padding: 10px;
    width: 90%;
    margin-bottom: 2em;
}

#classRow {
    display: flex;
    flex-direction: column;
    margin: 0;
}

#classRow > h2 {
    margin: 0;
}

#classRow > button {
    margin-top: 5px;
}

.jobList {
    align-self: center;
    width: 100%;
    box-sizing: border-box;
    display: grid;   
    grid-template-columns: 100%;
    grid-auto-rows: 200px;
    column-gap: 10px;
    row-gap: 50px;
}

.jobDocumentContainer {
    position: relative;
}

.jobDocument {
    display: block;
    cursor: pointer;
    place-self: center;
    height: 100%;
    box-sizing: border-box;
    width: 95%;
    border-radius: 11px;
    background-color: rgb(248, 248, 248);
    z-index: 1;
}

.documentDeleteButton {
    position: absolute;
    display: flex;
    padding: 1px;
    box-sizing: border-box;
    height: 20px;
    width: 20px;
    background-color: #f75128;
    border-radius: 50%;
    right: 6px;
    top: -5px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    z-index: 2;
}

.documentDeleteButton:hover {
    cursor: pointer;
}

.jobDocument:hover {
    transform: scale(1.01);
    -webkit-box-shadow: 4px 10px 17px -10px rgba(135,133,135,1);
    -moz-box-shadow: 4px 10px 17px -10px rgba(135,133,135,1);
    box-shadow: 4px 10px 17px -10px rgba(135,133,135,1);
}

.jobDocument > header {
    width: 100%;
    height: 40%;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 11px 11px 0 0;
    background-color: #B90606;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    text-align: center;
}

.jobDocumentBody {
    height: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.jobDocumentBody > h4 {
    margin: 0;
    margin-top: 8px;
}

#jobMenuHeader > h1 {
    margin: 0;
}

#errorList {
    overflow-y: scroll;
    min-height: 200px;
}

.errorRow {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.errorRow > p {
    margin: 0;
}

.listOfLotsRow {
    margin-top: 10px;
    min-height: 30px;
    max-height: 40px;
    width: 90%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}

.lotButton {
    width: 90%;
    height: 100%;
    box-sizing: border-box;
}

.lotDelete {
    width: 10%;
    height: 100%;
    box-sizing: border-box;
    background-color: #B90606;
    color: white;
}

.optionsList > h3 {
    margin: 0;
    padding: 5px 10px;
    background-color: #945766;
    color: white;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
}

.modal {
    width: 80vw;
    max-width: 600px;
    min-height: 230px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal > h2 {
    width: 100%;
    height: 50px;
    background-color: #945766;
    margin: 0;
    color: white;
    padding: 5px 10px;
    box-sizing: border-box;
}

#optionsValueCell {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-content: center;
}

#optionsValueCell > div {
    border: 1px solid black;
}
#optionsValueCell > span {
    padding: 1px;
}

#lotOptionsValue {
    text-align: left;
}

.modalRow {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    height: 50px;
    margin-top: 3em;
    justify-content: space-between;
}

.modalPlanRow {
    display: flex;
    width: 100%;
    flex-direction: row;
    box-sizing: border-box;
    padding: 0 20px;
    margin-top: 10px;
    height: 20px;
    justify-content: flex-start;
    align-items: center;
}

.modalPlanRow:first-of-type {
    margin-top: 20px;
}

.modalPlanRow > label {
    margin-right: 10px;
}

.deleteButton {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: red;
    color: white;
}

.modalRow > input, .modalRow > select {
    height: 100%;
    width: 75%;
    font-size: 2em;
    box-sizing: border-box;
}

.modalCheckboxRow {
    height: 60px;
    margin: auto 0;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-self: center;
}

.modalButtonRow {
    height: 50px;
    margin: 20px 0;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-around;
}

.modalButtonRow > button {
    width: 40%;
}

.modalCheckboxRow > label {
    font-size: 2em;
    margin-right: 10px;
}
.modalCheckboxRow > button {
    margin-left: auto;
    width: 30%;
}

.modalCheckboxRow > input[type|="checkbox"] {
    height: 80%;
    width: 60px;
    margin-right: 20px;
}

input:focus {
    border: 1px solid #ffb74a !important;
}

input::placeholder {
    font-weight: bold;
    color: black;
}

textarea:focus {
    border: 2px solid #ffb74a
}

td > div > input {
    border: none;
}

.modalRow > button {
    width: 20%;
    height: 100%;
}

.jobMenuButtons {
    padding: 7px;
    background-color: #da1b1b;
    margin-left: 15px;
    border-radius: 4px;
}

.lotDetailButton {
    position: absolute;
    left: 101%;
    bottom: 0;
    z-index: 5;
    height: 100%;
    font-size: .65em;
    width: 60px;
}

.modalScreen {
    display: flex;
    position: fixed;
    top:0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 30;
    align-items: center; 
    justify-content: center;
}

.exitButton {
    position: fixed;
    height: 3vw;
    width: 3vw;
    top: 10px;
    right: 10px;
    background-image: url('../src/Exit.png');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 20;
}

.exitButton:hover {
    cursor: pointer;
  }

#newTableButtons {
    width: 80%;
    align-self: center;
}

#newTableButtons > button{
    margin-right: 10px;
}

td > input {
    text-align: center;
}

#titleCover {
    width: 30vw;
    height: 100vh;
    background-color: #B90606;
    padding-left: 2em;
    box-sizing: border-box;
}

#titleCover > h1 {
    color: white;
}

#optionsNav {
    width: 30%;
    background-color: #a8193d;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
}

#optionsNav > h1 {
    color: white;
    margin-bottom: 0;
}

#optionsNav > h2 {
    margin: 0;
}

.newPartOfLotButton {
  width: 100%;
  height: 30px;
  background-color: #945766;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

#optionsEditor {
    width: 70%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

#formSection {
    margin-top: 2em;
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#formSection > form {
    width: 65%;
    display: flex;
    flex-direction: column;
}

.packageButtons {
    display: flex;
    flex-direction: row;
}

.editPackage {
    display: flex;
    background-color: #945766;
    color: white;
    text-align: center;
    justify-content: center;
    margin-right: 5px;
    width: 50px;
}

.deletePackage {
    display: flex;
    background-color: #ce4343;
    color: white;
    text-align: center;
    justify-content: center;
    margin-right: 5px;
    width: 50px;
    align-items: center;
}

button {
    outline: none;
    border: none;
}

button:hover {
    cursor: pointer;
}

.createButton {
    min-height: 50px;
    width: 100%;
    align-self: flex-end;
    margin-top: 2em;
    font-size: 1.5em;
    background-color: #ffb74a;
    font-weight: bold;
}
a {
    color: black;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

#createJobButton:hover {
    cursor: pointer;
}

.formRow {
    width: 100%;
    display: grid;
    grid-template-areas: "rowLabel"
                         "rowInput"
                         "rowError";
    grid-template-rows: 30px 40px 25px;
    grid-template-columns: 100%;
}

.formRow > label {
    grid-area: rowLabel;
    font-size: 1.2em;
}

.formRow > div {
    grid-area: rowInput;
    height: 100%;
    border: 1px black solid;
}

.formRow > input {
    grid-area: rowInput;
}

.creatorDisplay {
    border: 2px solid black; 
}

#packageDisplay {
    display: flex;
    flex-direction: column;
}

#packageDisplay > div {
    width: 100%;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 50px;
    justify-items: center;
}

#packageDisplay > div > * {
    margin: 0;
    height: 100%;
    width: 100%;
    outline: 1px solid black; 
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#packageDisplay > div > section {
    justify-content: space-between;
    padding: 0 15px;
    box-sizing: border-box;
}

#jobDisplay {
    padding-left: 10px;
}

.errorMsg {
    grid-area: rowError;
    color: red;
    margin: 0;
}

.formRow > div > input {
    height: 100%;
    text-align: left;
    padding: 5px 5px;
    outline: none;
    border: none;
}

#navigation {
    text-align: start;
    width: 200px;
    color: black;
    display: flex;
    flex-direction: row;
    padding-left: 10px;
}

#logoDiv {
    display: flex;
    justify-self: flex-end;
    margin-left: auto;
    flex-direction: row-reverse;
}

table {
    border-collapse: collapse;
}

td {
    border: 2px solid black;
    box-sizing: border-box;
    position: relative;
    padding: 0;
    height: inherit;
}

.modalProjectDiv {
    width: 100%;
    min-height: 60px;
    margin: 30px auto 0 auto;
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.modalInputRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.addProject {
    width: 40%;
    height: 30px;
    margin-bottom: 30px;
}

.modalSubmit {
    height: 35px;
    width: 100%;
    margin-bottom: 20px;
    font-weight: bold;
}

.modalInputRow > .optionSearchContainer {
    width: 100%;
    height: 40px;
    border: black solid 1px;
}

.modalProjectDiv > .optionSearchContainer > input {
    text-align: start;
}

.optionSearchContainer {
    position: relative;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.optionCell > textarea {
    min-height: 120px;
}

textarea {
    width: 100%;
    min-height: 50%;
    box-sizing: border-box;
    resize: vertical;
    outline: none;
    font-family: Inter, system-ui;
}

.optionsInfo > tbody > tr > td {
    padding: 5px;
}

.optionsInfo > tbody > tr > td > div {
    border: 1px solid black;
}

.optionParts > div > div {
    border: 1px solid black;
}

th {
    border: 2px solid black;
    padding: 5px;
    font-size: 0.7em;
}

tr {
    box-sizing: border-box;
    height: 1px;
}

.noteColumn {
    width: 70%;
}

.additionalLotInfo {
    width: 80%;
    margin-top: 2em;
    align-self: center;
}

.additionalLotInfo > tbody > tr > td > textarea {
    min-height: 150px;
    resize: none;
    box-sizing: border-box;
}

.optionsInfo {
    margin-top: 2em;
}

.optionSearch {
    height: 100%;
    border: none;
    outline: none;
}

.optionSearchContainer > input {
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 0;
    padding-left: 5px;
}

.hardwareHeader {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.hardwareHeader > h3 {
    margin: 0 10px 0 0;
}
.hardwareHeader > input {
    margin: 5px 10px 5px 5px;
}
.hardwareHeader > label {
    margin: 5px 0
}

h1 {
    display: flex; 
}

.exampleSection {
    display: flex;
    width: 80vw;
    flex-direction: column;
    padding: 10px;
    border: 2px solid black;
    min-height: 300px;
}

.lotInfo {
    align-self: center;
    margin-top: 1em;
    width: 80%;
}

.lotInfo textarea {
    min-height: 100px;
}

/* .lotInfo > tbody > tr > td > div {
    height: 100%;
} */

.lotInfo > tbody > tr > td > div > input {
    height: 34px;
}

.optionCell {
    padding: 15px;
    width: 70%;
    min-height: 200px;
}

.optionParts > div {
    display: flex;
    flex-direction: column;
}

.doorList {
    grid-area: "door"
}

.fingerPullList {
    grid-area: "fingerPull"
}

.pullList {
    grid-area: "pullKnob"
}

.guideList {
    grid-area: "guide"
}

.hingeList {
    grid-area: "hinge"
}

.drawerBoxList {
    grid-area: "drawerBox"
}


.optionParts {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 10px;
}

.lotFooter .optionSearchContainer {
    height: 100%;
}

.lotFooter .optionSearch {
    height: 100%;
    font-size: 0.7em;
}

.lotFooter .optionResults {
    bottom: 100%;
    top: auto;
    max-height: 200px;
}

.optionResults {
    z-index: 20;
    position: absolute;
    width: 100%;
    top: 100%;
    font-size: 0.7em;
    box-sizing: border-box;
    border: 1px solid black;
    max-height: 150px;
    overflow-y: auto; 
    overflow-x: hidden;
}

.optionResults > div {
    padding: 2px 5px;
    background-color: white;
}

.optionResults > div:hover {
    background-color: #f2eeed;
    cursor: pointer;
}

@media only screen and (min-width: 550px) {
    .jobList {
        grid-template-columns: 33% 33% 33%;
    }
}

@media only screen and (min-width: 1000px) {
    th {
        padding: 5px;
        font-size: 1em;
    }
    
    td > input {
        width: 100%;
        box-sizing: border-box;
    }
    
    input {
        font-size: 1em;
    }

    .jobMenuSection {
        width: 85%;
    }

    .jobList {
        align-self: center;
        grid-template-columns: 25% 25% 25% 25%;
        grid-auto-rows: 200px;
        column-gap: 10px;
        row-gap: 50px;
    }

    .exampleSection {
        display: flex;
        flex-direction: column;
        width: 90%;
        padding: 10px;
        border: 2px solid black;
        min-height: 300px;
    }
    
    .lotInfo {
        align-self: center;
        margin-top: 1em;
    }
    
    .optionResults {
        font-size: 1em;
    }
}

@media only screen and (min-width: 1450px) {
    #classRow {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    #classRow > button {
        height: 60%;
    }

    #classRow > input {
        min-height: 30px;
    }

    .formRow {
        margin-top: 1em;
        grid-template-areas: "rowLabel . rowInput"
                            ". . rowError";
        grid-template-rows: 40px 10px;
        grid-template-columns: 20% 5% 75%;
    }

    .formRow:first-of-type {
        grid-template-areas: "rowLabel"
                         "rowInput"
                         "rowError";
        grid-template-rows: 30px 40px 25px;
        grid-template-columns: 100%;
    }

    .jobMenuSection {
        width: 75%;
    }
}