#bannerAnnouncement {
    background-color: yellow;
    text-align: center;
    font-weight: bold;
    position: fixed;
    z-index: 2000;
    width: 100vw;
}

#rootDiv {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
    width: 100%;
}

#root {
    box-sizing: border-box;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    padding: 0;
}

#mainScreen {
    display: flex;
    flex-direction: row;
}

input {
    outline: none;
    font-size: .7em;
    padding: 5px 5px;
}

#mainNav {
    background-color: #B90606;
    width: 100vw;
    color: black;
    height: 8vh;
    display: flex;
    font-size: 1em;
    min-height: 60px;
    box-sizing: border-box;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.optionsList {
    width: 80%;
    margin-top: 2em;
    background-color: white;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    align-items: center;
    align-self: center;
    justify-self: center;
    min-height: 250px;
    max-height: 300px;
    box-sizing: border-box;
    padding-bottom: 15px;
    margin-bottom: 7px;
}

#lotList {
    scrollbar-width: none; 
    -ms-overflow-style: none;
}

#lotList::-webkit-scrollbar {
    display: none;
}

#menuType {
    display: flex;
    flex-direction: row;
    margin: 15px 0;
}

#menuType > button {
    padding: 9px 15px;
    width: 150px;
    font-size: .9em;
    margin-right: 15px;
    background-color: #8b6767;
    font-weight: bold;
    color: white;
    border-radius: 5px;
}

#selectedType {
    background-color: #503b3b !important;
}

#menuSettings {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#filterOptions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#filterOptions > select {
    height: 100%;
}

#filterOptions > .optionSearchContainer {
    border: 1px solid black;
    width: auto;
    margin-right: 10px;
    flex-grow: 1;
}

#filterOptions > :last-child {
    margin-right: 0;
}

#filterOptions > label {
    margin-right: 10px;
    font-size: 1.1em;
    font-weight: bold;
    color: #4d4d4d;
}

#filterButtons {
    display: flex;
    margin-bottom: 15px;
    flex-direction: row-reverse;
    width: 100%;
}

.resetFilters {
    background-color: #ddd295;
}

.deleteOption {
    background-color: #da6955;
}

#filterButtons > button {
    padding: 7px 13px;
    font-size: .9em;
    margin-left: 15px;
    height: 100%;
}


.notification {
    width: 20vw;
    position: fixed;
    bottom: 0;
    left: 50%;
    background-color: whitesmoke;
    min-height: 100px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
    transform: translate(-50%, -50%);
    transition: all ;
    font-size: 1.4em;
    text-align: center;
    font-weight: bold;
    border: 5px solid #ce4343;
}

.valueDiv {
    width: 25px;
    background-color: #dfdede;
    text-align: center;
}

#centsDiv {
    width: 30px;
    background-color: #bbb9b9;
}

.valid {
    box-shadow: 5px 10px green;
    border: 5px solid green;
}

.invalid {
    box-shadow: 5px 10px #c40000;
    border: 5px solid #ce4343;
}

#menuSettings > button {
    padding: 7px;
    font-size: 1em;
    width: 100px;
    background-color: #da1b1b;
    color: white;
}

#jobMenuScreen {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.jobMenuHeader {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 150px;
    background-color: #a8193d ;
    color: white;
    padding: 0px 30px;
    align-items: center;
    position: fixed;
    box-sizing: border-box;
    z-index: 20;
}

.jobMenuHeader > button {
    height: 40px;
}

#jobMenuBody {
    align-self: center;
    display: flex;
    flex-direction: column;
    margin-top: 180px;
    width: 100%;
}

#pdBody {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 80px;
}

#pdFilters {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: row;
}

#pdHeader {
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 250px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 0 0 20px 20px;
    position: relative;
    transform-style: preserve-3d;
}

#headerDropDown {
    width: 500px;
    background-color: rgb(215, 85, 85);
    position: absolute;
    top: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    transform: translateZ(-10px);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) .6s;
}

#headerDropDown > h4 {
    margin: 5px 0;
    font-size: 1.5em;
}

#headerDropDown > h4:hover {
    cursor: pointer;
    color: #bbbbbb;
}

.filterSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.filterSection > select {
    padding: 5px 5px;
    border: solid #2d2d2d 1px;
    background-color: white;
    box-shadow: none;
    height: 33px;
}

.filterSection > button {
    margin-top: 10px;
    height: 25px;
    background-color: #dac97e;
    border-radius: 3px;
}

#pdHeader > h1 {
    width: 31%;
    display: inline-block;
    color: #353434;
    margin: 0;
    font-size: 4em;
}

#pdHeader > h1 > span {
    color: #EF6565;
}

#pdHeader > h1 > span:hover {
    cursor: pointer;
}

#lastLetter {
    font-size: .5em;
}

#pdTableBody {
    width: 100%;
}

#pdTable {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

#pageNavigation {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 30px;
    align-items: center;
}

.innerButton {
    height: 25px;
    width: 80px;
    background-color: #945766;
    color: white;
    font-weight: normal;
    margin: 0 5px;
}

.outerButton {
    width: 30px;
    height: 25px;
    background-color: #683e48;
    font-weight: bold;
    color: white;
}

#pageNavigation > h3 {
    margin: 0 10px 0 10px;
    font-weight: normal;
}


.pdRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.rowButton{
    width: 4.5%;
    height: 30px;
    padding: 2px;
    box-sizing: border-box;
    font-weight: bold;
    background-color: #b4d386;
}

#locationButtons {
    width: 90%;
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}

#locationButtons > button {
    padding: 5px;
    margin-right: 10px;
    background-color: #b7d3c2;
    font-weight: bold;
    color: rgb(68, 68, 68);
}

.selectedButton {
    background-color: #8ca093 !important;
}

#locationForm {
    width: 90%;
}

#coordDiv {
    display: grid;
    grid-template-columns: 49% 49%;
    column-gap: 1.5%;
    row-gap: 5px;
    margin-top: 10px;
    box-sizing: border-box;
}

#coordDiv > p {
    margin: 0;
    color: red;
    font-size: 0.8em;
}

.addressError {
    grid-column: 1 / -1;
    margin: 0;
    text-align: right;
    color: red;
    font-size: 0.8em;
}

#addressDiv {
    display: grid;
    grid-template-columns: 49% 49%;
    column-gap: 1.5%;
    row-gap: 5px;
    margin-top: 10px;
    box-sizing: border-box;
}

#locationDiv > input {
    box-sizing: border-box;
    width: 95%;
}

#locationSubmit {
    width: 100%;
    height: 35px;
    background-color: #b4d386;
    margin-top: 40px;
    margin-bottom: 10px;
}

.pdCellSection {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* Makes columns equal width */
}

.pdCellSection > h4 {
    margin: 20px 0 10px 0;
    font-size: 1.2em;
}

.pdCellSection > input {
    outline: 1.5px solid black;
}

#formOptionsBody {
    align-self: center;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
    margin-top: 150px;
    padding-top: 50px;
    height: calc(100vh - 150px);
}

#formChoiceSelector {
    min-height: 300px;
    border-radius: 5px;
    min-width: 450px;
    border:0.5px solid rgb(80, 80, 80);
}

#formChoiceSelector > h2 {
    background-color: #945766;
    margin: 0;
    color: white;
    padding: 15px 10px;
}

.choiceButton {
    color: rgb(51, 51, 51);
    font-size: 1.2em;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
}

#formOptions {
    min-height: 200px;
    border: 0.5px solid rgb(37, 37, 37);
    max-height: 600px;
    overflow: hidden;
    height: 100%;
}

#formOptions > h2 {
    background-color: #D35757;
    margin: 0;
    color: white;
    padding: 15px 10px;
}

.formOptionRowsBody {
    padding: 5px;
    overflow-y: auto;
    height: calc(100% - 123.0833px);
    background-color: #eeeeee;
}

.selectedRow {
    border: 2px solid #ffb74a;
}

.formOptionHeader {
    padding: 0 5px;
}

.formOptionHeader > h3 {
    text-align: center;
    margin: 0;
    padding: 12px 0px;
}

.formOptionRow {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 5px;
}

.tableWidth {
    width: 280px;
    box-sizing: border-box;
}

.lastColumn {
    width: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
}

.buttonRow {
    width: 100%;
    padding: 5px 5px;
    box-sizing: border-box;
}

.addRow > button {
    width: 100%;
    height: 35px;
    background-color: #b4d386;
    font-weight: bold;
}

.deleteRow > button {
    width: 100%;
    height: 35px;
    background-color: #da6955;
    font-weight: bold;
}

.submitButton {
    width: 50px;
    margin-left: 5px;
    background-color: rgb(149, 185, 152);
}

.editButton {
    width: 50px;
    background-color: rgb(233, 156, 128);
}

.cancelButton {
    width: 50px;
    background-color: rgb(233, 200, 128);
}

.deleteRowButton {
    width: 30px;
    margin-left: 5px;
    color: white;
    font-weight: bold;
    background-color: #da6955;
}

#formMenuGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 50px;
    column-gap: 20px;
    row-gap: 15px;
    padding: 10px;
}

.choiceButton {
    background-color: rgb(230, 230, 230);
    border-right: 10px solid #b4536b;
    border-radius: 4px;
    transition: .2s;
}

#addButton {
    width: 100%;
    height: 35px;
    margin-top: 20px;
    background-color: #b4d386;
}

.selectedChoice {
    background-color: rgb(197, 197, 197);
}

.choiceButton:hover {
    cursor: pointer;
    border-right-width: 30px;
}

.jobMenuSection {
    align-self: center;
    padding: 10px;
    width: 90%;
}

#classRow {
    display: flex;
    flex-direction: column;
    margin: 0;
}

#classRow > h2 {
    margin: 0;
}

#classRow > button {
    margin-top: 5px;
}

.jobList {
    align-self: center;
    width: 100%;
    box-sizing: border-box;
    display: grid;   
    grid-template-columns: 100%;
    grid-auto-rows: 200px;
    column-gap: 10px;
    row-gap: 50px;
}

.jobDocumentContainer {
    position: relative;
}

.jobDocument {
    display: block;
    cursor: pointer;
    place-self: center;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border-radius: 11px;
    background-color: rgb(248, 248, 248);
    z-index: 1;
}

.documentDeleteButton {
    position: absolute;
    display: flex;
    padding: 1px;
    box-sizing: border-box;
    height: 20px;
    width: 20px;
    background-color: #f75128;
    border-radius: 50%;
    right: -7px;
    top: -5px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    z-index: 2;
}

.documentDeleteButton:hover {
    cursor: pointer;
}

.jobDocument:hover {
    transform: scale(1.01);
    -webkit-box-shadow: 4px 10px 17px -10px rgba(135,133,135,1);
    -moz-box-shadow: 4px 10px 17px -10px rgba(135,133,135,1);
    box-shadow: 4px 10px 17px -10px rgba(135,133,135,1);
}

.jobDocument > header {
    width: 100%;
    height: 40%;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 11px 11px 0 0;
    background-color: #AE4949;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    text-align: center;
}

.jobDocumentBody {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.jobDocumentBody > h4 {
    margin: 0;
    margin-top: 8px;
    text-align: center;
    color: rgb(104, 104, 104);
}

.jobDocumentBody > h4 > span {
    color: #000000;
}

.jobMenuHeader > h1 {
    margin: 0;
}

#errorList {
    overflow-y: scroll;
    min-height: 200px;
}

.errorRow {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.errorRow > p {
    margin: 0;
}

.listOfLotsRow {
    margin-top: 10px;
    min-height: 30px;
    max-height: 40px;
    width: 90%;
    box-sizing: border-box;
    display: inline-block;
}

.lotButton {
    width: 90%;
    height: 100%;
    box-sizing: border-box;
}

.lotDelete {
    width: 10%;
    height: 100%;
    box-sizing: border-box;
    background-color: #B90606;
    color: white;
}

.optionsList > h3 {
    margin: 0;
    padding: 5px 10px;
    background-color: #945766;
    color: white;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
}

.modal {
    width: 80vw;
    max-width: 600px;
    min-height: 230px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal > h2 {
    width: 100%;
    height: 50px;
    background-color: #945766;
    margin: 0;
    color: white;
    padding: 5px 10px;
    box-sizing: border-box;
}

.modal > h3 {
    text-align: center;
}

#optionsValueCell {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-content: center;
}

#optionsValueCell > div {
    border: 1px solid black;
}
#optionsValueCell > span {
    padding: 1px;
}

#lotOptionsValue {
    text-align: right;
}

.modalRow {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    height: 50px;
    margin-top: 3em;
    justify-content: space-between;
}

.modalPlanRow {
    display: flex;
    width: 100%;
    flex-direction: row;
    box-sizing: border-box;
    padding: 0 20px;
    margin-top: 10px;
    height: 20px;
    justify-content: flex-start;
    align-items: center;
}

.modalPlanRow:first-of-type {
    margin-top: 20px;
}

.modalPlanRow > label {
    margin-right: 10px;
}

.deleteButton {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: red;
    color: white;
}

.modalRow > input, .modalRow > select {
    height: 100%;
    width: 75%;
    font-size: 2em;
    box-sizing: border-box;
}

.modalCheckboxRow {
    height: 60px;
    margin: auto 0;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-self: center;
}

.modalButtonRow {
    height: 50px;
    margin: 20px 0;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-around;
}

.modalButtonRow > button {
    width: 40%;
}

.modalCheckboxRow > label {
    font-size: 2em;
    margin-right: 10px;
}
.modalCheckboxRow > button {
    margin-left: auto;
    width: 30%;
}

.modalCheckboxRow > input[type|="checkbox"] {
    height: 80%;
    width: 60px;
    margin-right: 20px;
}

input:focus {
    border: 1px solid #ffb74a;
    outline: 1px solid #ffb74a;
    z-index: 2;
}

input::placeholder {
    font-weight: bold;
    color: black;
}

.cellTextArea {
    border: none;
}

.errorTextArea:focus {
    border: 2px solid #F06363;
}

textarea:focus {
    border: 2px solid #ffb74a;
}

td > div > input {
    border: none;
}

.modalRow > button {
    width: 20%;
    height: 100%;
}

.jobMenuButtons {
    padding: 7px;
    background-color: #F06363;
    font-weight: bold;
    color: #2d2d2d;
    margin-left: 15px;
    border-radius: 4px;
}

.lotDetailButton {
    position: absolute;
    left: 101%;
    bottom: 0;
    z-index: 5;
    height: 100%;
    font-size: .65em;
    width: 60px;
}

.modalScreen {
    display: flex;
    position: fixed;
    top:0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 30;
    align-items: center; 
    justify-content: center;
}

.exitButton {
    position: fixed;
    height: 3vw;
    width: 3vw;
    top: 10px;
    right: 10px;
    background-image: url('../src/Exit.png');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 20;
}

.exitButton:hover {
    cursor: pointer;
  }

#newTableButtons {
    width: 80%;
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 7px;
    row-gap: 7px;
}

td > input {
    text-align: center;
}

#titleCover {
    width: 30vw;
    height: 100vh;
    background-color: #B90606;
    padding: 1em 0 1em 2em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

#titleCover > h1 {
    color: white;
}

#titleCover > a {
    color: white;
}

#optionsNav {
    width: 30%;
    background-color: #a8193d;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
}

#optionsNav > h1 {
    color: white;
    margin-bottom: 0;
}

#optionsNav > h2 {
    margin: 0;
}

.newPartOfLotButton {
  width: 100%;
  height: 30px;
  background-color: #945766;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

#optionsEditor {
    width: 70%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

#formSection {
    margin-top: 2em;
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#formSection > form {
    width: 65%;
    display: flex;
    flex-direction: column;
}

.packageButtons {
    display: flex;
    flex-direction: row;
}

.editPackage {
    display: flex;
    background-color: #945766;
    color: white;
    text-align: center;
    justify-content: center;
    margin-right: 5px;
    width: 50px;
}

.deletePackage {
    display: flex;
    background-color: #ce4343;
    color: white;
    text-align: center;
    justify-content: center;
    margin-right: 5px;
    width: 50px;
    align-items: center;
}

button {
    outline: none;
    border: none;
}

button:hover {
    cursor: pointer;
}

.createButton {
    min-height: 50px;
    width: 100%;
    align-self: flex-end;
    margin-top: 2em;
    font-size: 1.5em;
    background-color: #ffb74a;
    font-weight: bold;
}
a {
    color: black;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

#createJobButton:hover {
    cursor: pointer;
}

.formRow {
    width: 100%;
    display: grid;
    grid-template-areas: "rowLabel"
                         "rowInput"
                         "rowError";
    grid-template-rows: 30px 40px 25px;
    grid-template-columns: 100%;
}

.formRow > label {
    grid-area: rowLabel;
    font-size: 1.2em;
}

.formRow > div {
    grid-area: rowInput;
    height: 100%;
    border: 1px black solid;
}

.formRow > input {
    grid-area: rowInput;
}

.creatorDisplay {
    border: 2px solid black; 
}

#packageDisplay {
    display: flex;
    flex-direction: column;
}

#packageDisplay > div {
    width: 100%;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 50px;
    justify-items: center;
}

#packageDisplay > div > * {
    margin: 0;
    height: 100%;
    width: 100%;
    outline: 1px solid black; 
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#packageDisplay > div > section {
    justify-content: space-between;
    padding: 0 15px;
    box-sizing: border-box;
}

#jobDisplay {
    padding-left: 10px;
}

.errorMsg {
    grid-area: rowError;
    color: red;
    margin: 0;
}

.formRow > div > input {
    height: 100%;
    text-align: left;
    padding: 5px 5px;
    outline: none;
    border: none;
}

#navigation {
    text-align: start;
    width: 200px;
    color: black;
    display: flex;
    flex-direction: row;
    padding-left: 10px;
}

#logoDiv {
    display: flex;
    justify-self: flex-end;
    margin-left: auto;
    flex-direction: row-reverse;
}

#pdTopHeader {
    justify-content: flex-end;
    min-height: 80px;
}

table {
    border-collapse: collapse;
}

td {
    border: 2px solid black;
    box-sizing: border-box;
    position: relative;
    padding: 0;
    height: inherit;
}

.modalProjectDiv {
    width: 100%;
    min-height: 60px;
    margin: 30px auto 0 auto;
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.modalInputRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.addProject {
    width: 40%;
    height: 30px;
    margin-bottom: 30px;
}

.modalSubmit {
    height: 35px;
    width: 100%;
    margin-bottom: 20px;
    font-weight: bold;
}

.modalInputRow > .optionSearchContainer {
    width: 100%;
    height: 40px;
    border: black solid 1px;
}

.modalProjectDiv > .optionSearchContainer > input {
    text-align: start;
}

.optionSearchContainer {
    position: relative;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.optionCell > textarea {
    min-height: 120px;
}

textarea {
    width: 100%;
    min-height: 50%;
    box-sizing: border-box;
    resize: vertical;
    outline: none;
    font-family: Inter, system-ui;
}

.optionsInfo > tbody > tr > td {
    padding: 5px;
}

.optionsInfo > tbody > tr > td > div {
    border: 1px solid black;
}

.optionParts > div > div {
    border: 1px solid black;
}

#additionalOptions {
    margin-top: 2em;
}

.checkListTitle {
    margin: 10px 0;
}

.checklist {
    border: none !important;
}

.checkListItem {
    display: flex;
    flex-direction: row;
}

.checkListItem > button {
    width: 40px;
    font-weight: bold;
    background-color: #da6955;
    color: white;
}

.checklist > div {
    height: 35px;
    margin-bottom: 2px;
    border: 1px solid black;
}

.checklistButton {
    margin: 10px 0;
    width: 25%;
    height: 30px;
}

th {
    border: 2px solid black;
    padding: 5px;
    font-size: 0.7em;
}

tr {
    box-sizing: border-box;
}

.noteColumn {
    width: 70%;
}

.additionalLotInfo {
    width: 80%;
    margin-top: 2em;
    align-self: center;
}

.additionalLotInfo > tbody > tr > td > textarea {
    min-height: 150px;
    resize: none;
    box-sizing: border-box;
}

.optionsInfo {
    margin-top: 2em;
}

.optionSearch {
    height: 100%;
    border: none;
    outline: none;
}

.optionSearchContainer > input {
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 0;
    padding-left: 5px;
}

.hardwareHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
    width: 100%;
}

.hardwareEditor {
    display: flex;
    flex-direction: column;
}

.hardwareEditor > h3 {
    margin: 0 10px 0 0;
}

.glassSection {
    display: flex;
    flex-direction: row;
}

.glassSection > div {
    margin-left: 10px;
}

.glassSection > div > h5 {
    margin: 0 10px 0 0;
}

.hardwareCheckboxes > input {
    margin: 5px 10px 5px 5px;
}
.hardwareCheckboxes > label {
    margin: 5px 0
}

.modifierSection {
    display: flex;
    flex-direction: row;
    margin: 5px 0 5px 0;
}

.hardwareModifier {
    margin-right: 10px;
}

.hardwareModifier > label {
    margin-right: 10px;
    font-weight: bold;
    color: rgb(100, 100, 100);
}

h1 {
    display: flex; 
}

.exampleSection {
    display: flex;
    width: 80vw;
    flex-direction: column;
    padding: 10px;
    border: 2px solid black;
    min-height: 300px;
}

.lotInfo {
    align-self: center;
    margin-top: 1em;
    width: 80%;
}

.lotInfo textarea {
    min-height: 100px;
}

/* .lotInfo > tbody > tr > td > div {
    height: 100%;
} */

.lotInfo > tbody > tr > td > div > input {
    height: 34px;
}

.optionCell {
    padding: 15px;
    width: 70%;
    min-height: 200px;
}

.optionParts > div {
    display: flex;
    flex-direction: column;
}

.doorList {
    grid-area: "door"
}

.fingerPullList {
    grid-area: "fingerPull"
}

.pullList {
    grid-area: "pullKnob"
}

.guideList {
    grid-area: "guide"
}

.hingeList {
    grid-area: "hinge"
}

.drawerBoxList {
    grid-area: "drawerBox"
}


.optionParts {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 10px;
}

/* .lotFooter > tbody > tr > td {
    height: 100%;
} */

.lotFooter .optionSearchContainer {
    height: 100%;
    display: flex;
}

.lotFooter .optionSearch {
    height: 100%;
    font-size: 0.7em;
    flex-grow: 1;
}

.lotFooter .optionResults {
    bottom: 100%;
    top: auto;
    max-height: 200px;
}

.optionResults {
    z-index: 20;
    position: absolute;
    width: 100%;
    top: 100%;
    font-size: 0.7em;
    box-sizing: border-box;
    border: 1px solid black;
    max-height: 150px;
    overflow-y: auto; 
    overflow-x: hidden;
}

.editPartsOfLotButton {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    min-height: 20px;
}

.optionResults > div {
    padding: 2px 5px;
    background-color: #F2F2F2;
}

.optionResults > div:hover {
    background-color: #c4c4c4;
    cursor: pointer;
}

@media only screen and (min-width: 550px) {
    .jobList {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (min-width: 1000px) {
    th {
        padding: 5px;
        font-size: 1em;
    }
    
    td > input {
        width: 100%;
        box-sizing: border-box;
    }
    
    input {
        font-size: 1em;
    }

    .jobMenuSection {
        width: 85%;
    }

    .jobList {
        align-self: center;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 200px;
        column-gap: 10px;
        row-gap: 50px;
    }

    .exampleSection {
        display: flex;
        flex-direction: column;
        width: 90%;
        padding: 10px;
        border: 2px solid black;
        min-height: 300px;
    }
    
    .lotInfo {
        align-self: center;
        margin-top: 1em;
    }
    
    .optionResults {
        font-size: 1em;
    }
}

@media only screen and (min-width: 1450px) {
    #classRow {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    #classRow > button {
        height: 60%;
    }

    #classRow > input {
        min-height: 30px;
    }

    .formRow {
        margin-top: 1em;
        grid-template-areas: "rowLabel . rowInput"
                            ". . rowError";
        grid-template-rows: 40px 10px;
        grid-template-columns: 20% 5% 75%;
    }

    .formRow:first-of-type {
        grid-template-areas: "rowLabel"
                         "rowInput"
                         "rowError";
        grid-template-rows: 30px 40px 25px;
        grid-template-columns: 100%;
    }

    .jobMenuSection {
        width: 75%;
    }

    .jobList {
        column-gap: 25px;;
    }
}